.beer {
    display: flex;
    flex-direction: column;
    h1{
        
        font-family: $font-1;
    }
        
    .beerList {
        text-align: center;
        border-spacing: 0;
    }
    
    .beerList {
        th, td {
            padding: 10px;
            border: 1px solid $black;
        }
    
        .truc button {
            width: 2.5em;
            padding: 8px;
            margin: 2px 4px;
            background-color: transparent;
            color: $white;
            border: $black solid 1px;
            border-radius: 4px;
        }
    
        .truc input {
            background-color: $black;
            border: $color-1 solid 1px;
            color: $color-1;
            padding: 6px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        input {
            background-color: transparent;
            border: $white solid 1px;
            color: #61dafb;
            margin-bottom: 1em;
            padding: 10px;
            font-weight: 600;
            text-align: center;
        }
        
        input::placeholder {
            color: $white;
        }
    
        button {
            border: none;
            color: $color-1;
            background-color: transparent;
            border: #61dafb solid 1px;
            padding: 10px;
            font-weight: 600;
        }
    }

    @media screen and (min-width: 600px){
        .form {
            width: 80%;
            margin-left: 10%;
        }
    }

    @media screen and (min-width: 800px){
        .form {
            width: 60%;
            margin-left: 20%;
        }
    }

    @media screen and (min-width: 1000px){
        .form {
            width: 40%;
            margin-left: 30%;
        }
    }

}