.beer {
    display: flex;
    flex-direction: column;
        
    .beerList {
        text-align: center;
        border-spacing: 0;
        width: 100%;
    }
    
    .beerList {
        th, td {
            padding: 10px;
            border-top: 2px solid $black;
        }
    
        .truc button {
            width: 2.5em;
            padding: 8px;
            margin: 2px 4px;
            background-color: transparent;
            color: $white;
            border: $black solid 1px;
            border-radius: 4px;
        }
    
        .truc input {
            background-color: transparent;
            border: $color-1 solid 1px;
            color: $color-1;
            padding: 6px;
        }
    }

    .form {
        font-family: $font-4;
        font-size: 1.2rem;
        
        .inputs {
            display: flex;
            flex-direction: column;
            border-top: $black solid 2px;
            text-align: left;
            
            input {
                border:none;
                border-bottom: $black solid 2px;
                background-color: transparent;
                color: $color-3;
                padding: 10px;
                font-size: 1.2rem;
            }
            input::placeholder {
                color: $white;
            }
            input:focus {
                z-index: 10;
                outline:none;
                border: solid 2px $color-1;
                background-color: $black;
                opacity: .6;
                box-shadow: 0px 0px 2px 2px $color-3;
                -webkit-box-shadow: 0px 0px 2px 2px $color-3;
                -moz-box-shadow: 0px 0px 2px 2px $color-3;
            }
            
            .beerSuggestionList {
                background-color: #232323;
                opacity: .8;
                .beerSuggestion {
                    display: flex;
                    border:none;
                    border-bottom: $black solid 2px;
                    #beerNameSugession{
                        width: 50%;
                        padding: 10px;                        
                    }
                    #beerBrewerySugession{
                        width: 50%;
                        padding: 10px;
                        border-left: solid 2px $black;
                    }
                }
            }
        }
        .btn-group {
            display:flex;
            flex-wrap: wrap;
            .btn {
                border: none;
                padding: 10px;
                cursor: pointer;
                border-right:  solid 2px $black;
            }
            .btn:hover {
                border: 2px solid $color-1;
                color: $color-1;
                box-shadow: 0px 0px 2px 2px $color-3;
                -webkit-box-shadow: 0px 0px 2px 2px $color-3;
                -moz-box-shadow: 0px 0px 2px 2px $color-3;
            }
        }
    }



}