.beer {
    display: flex;
    flex-direction: column;
        
    .beerList {
        text-align: center;
        border-spacing: 0;
        width: 100%;
    }
    
    .beerList {
        th, td {
            padding: 10px;
            border-top: 2px solid $black;
        }
    
        .truc button {
            width: 2.5em;
            padding: 8px;
            margin: 2px 4px;
            background-color: transparent;
            color: $white;
            border: $black solid 1px;
            border-radius: 4px;
        }
    
        .truc input {
            background-color: transparent;
            border: $color-1 solid 1px;
            color: $color-1;
            padding: 6px;
        }
    }

    .form {
        margin-bottom: 2rem;
        display: grid;
        
        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;
        .inputs {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            border-top: $black solid 2px;
            border-left: $black solid 2px;
            text-align: left;
            
            font-family: $font-4;
            input {
                border:none;
                border-bottom: $black solid 2px;
                background-color: transparent;
                color: $color-3;
                padding: 10px;
            }
            input::placeholder {
                color: $white;
            }
            input:focus {
                z-index: 10;
                outline:none;
                border: solid 2px $color-1;
                background-color: $black;
                opacity: .6;
                box-shadow: 0px 0px 5px 3px $color-3;
                -webkit-box-shadow: 0px 0px 5px 3px $color-3;
                -moz-box-shadow: 0px 0px 5px 3px $color-3;
            }
            
            .beerSuggestionList {
                background-color: $black;
                opacity: .8;
                .beerSuggestion {
                    border:none;
                    border-bottom: $black solid 2px;
                    background-color: transparent;
                    padding: 10px;
                }
            }
        }
        .btn {
            grid-column: 2;
            width: 3rem;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            border: none;
            color: $black;
            background-color: $white;
            opacity: .7;
            border:  solid 1px;
            padding: .9rem;
            font-weight: 600;
            cursor: pointer;
        }
    }

    @media screen and (min-width: 600px){
        .form {
            width: 80%;
            margin-left: 10%;
        }
    }

    @media screen and (min-width: 800px){
        .form {
            width: 60%;
            margin-left: 20%;
        }
    }

    @media screen and (min-width: 1000px){
        .form {
            width: 40%;
            margin-left: 30%;
        }
    }

}