$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 2rem 0;
  font-family: $font-4;
  font-size: 1.6rem;
  text-align: center;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-weight: $font-4;
  color: $black;
  cursor: pointer;
}
a:visited {
  color: $black;
}
.container {
  border: $black 2px solid;
}

.home,
.beerContent {
  display: flex;
  margin: 0;
  text-align: center;

  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
